<footer class= "footer">
  
    <nav class="contactos"><h6>Tienda</h6>
      <ul class ="links">
      <li class="links__list"><a href="https://adalab.es
        ">Productos</a></li>
      <li class="links__list"><a href="https://adalab.es
        ">Cajoneras</a></li>
      <li class="links__list"><a href="https://adalab.es
        ">Para toda la casa</a></li>
      <li class="links__list"><a href="https://adalab.es
        ">Habitaciones</a></li>
    </ul></nav>
    
  <nav  class="contactos" ><h6>Nosotros</h6>
  
  <ul class ="links">
    <li class="links__list"><a href="https://adalab.es
      ">Nuestra guía</a></li>
    <li class="links__list"><a href="https://adalab.es
      ">Nuestro diseño</a></li>
    <li class="links__list"><a href="https://adalab.es
      ">Nuestra historia</a></li>
    <li class="links__list"><a href="https://adalab.es">Ayuda</a></li>
  </ul></nav>

<nav class="contactos"> <h6>Contacto</h6>
  <ul class ="links" >
  <li class="links__list"><a href="https://adalab.es
    ">ayuda@openspaces.com</a></li>
  <li class="links__list"><a href="https://adalab.es
    ">Socios</a></li>
  </ul> 
  
  <nav>
    <ul class="social">
      <li><a href="https://adalab.es" class="social-icon"><i class="fa-brands fa-linkedin-in"></i> </a></li>
      <li> <a href="https://adalab.es" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li> 
      <li> <a href="https://adalab.es" class="social-icon"><i class="fab fa-twitter"></i></a></li> </ul>
       
 
      </nav> </nav>
  <a href="#" class="arrow"><img src="./assets/images/short_up.png" alt="arrow">
</a>

  </footer>
</body>
