<header class="header">
  <nav class="header__nav">
    <a title="Adalab" href="https://adalab.es/"
      ><img
        class="header__nav"
        src="./assets/images/hamburger.png"
        alt="Page menu"
    /></a>
  </nav>

  <nav>
    <ul class="list">
      <li>
        <a href="#" class="list__button">Productos</a>
      </li>
      <li>
        <a href="#" class="list__button">Colecciones</a>
      </li>
      <li>
        <a href="#" class="list__button">Tienda</a>
      </li>
      <li><a href="#" class="list__button">Inicio</a></li>
    </ul>
  </nav>
  <section class="header__content">
    <div>
      <img
        class="header__content--logo"
        src="../assets/images/logo.png"
        alt="logo"
      />
    </div>
    <div><h1 class="header__content--title">Disfruta creando espacios</h1></div>

    <div>
      <a href="#"
        ><button class="header__content--button">Comprar ahora</button></a
      >
    </div>
  </section>
</header>
