<main>
    <section class="grid-container">
    
   <div class="organize"><h2>Volverse organizado se siente mejor con <span class=" upper"> open spaces</span></h2></div>
     
   <div class="gridcontent">
     <img src="./assets/images/icon_1.png" alt="icon_1" class="icon">
    <h3>Lo que necesitas</h3>
     <p>Una linea de productos diseñados para todos tus espacios</p></div>
    
      <div class="gridcontent"> 
       <img src= "./assets/images/icon_2.png" alt="icon_2" class="icon">
    <h3> Materias primas sustentables</h3>
     <p>Todos los productos con materias primas sustentables</p></div>
    
    <div class="gridcontent">
      <img src="./assets/images/icon_3.png" alt="icon_3" class="icon">
     <h3>Guía</h3>
     <p>Soporte y asesoramiento para ayudarte con tu objetivo</p></div>
   
   </section>
   
   
   
     <section class="orange">
   
       <div><img src="./assets/images/icon_4.png" alt="icon 4"></div>
       <div><h4>Envío gratis garantizado</h4></div>
       <div> <p class=" free">Envio gratis en compras desde 100</p></div>
       <div><a class="link" href="#">Comprar ahora</a></div>
     </section>
   
   
   
   <section class="api-section">
     <section class="search">
       <div><h5>Disfruta creando espacios</h5></div>
       </div> <p class="line">Una linea de productos diseñados para todos tus espacios</p><div>
       <div><button class="content__button-top" > Compra ahora</button></div>
    </section >
     
     
     <section >
     <img src="./assets/images/creando-espacios.jpg" alt=" spaces" class="bottom-image" />
   </section></section>
   
    </main>