<main>
    <section class="grid-container">
    
   <div class="organizer"><h2>Volverse organizado se siente mejor con <span class=" upper"> open spaces</span></h2></div>
     
   <div class="grid-container__box">
     <img src="./assets/images/icon_1.png" alt="icon_1" 
     class="grid-container__box--icon">
    <h3>Lo que necesitas</h3>
     <p>Una linea de productos diseñados para todos tus espacios</p></div>
    
      <div class="grid-container__box"> 
       <img src= "./assets/images/icon_2.png" alt="icon_2" 
       class="grid-container__box--icon">
    <h3> Materias primas sustentables</h3>
     <p>Todos los productos con materias primas sustentables</p></div>
    
    <div class="grid-container__box">
      <img src="./assets/images/icon_3.png" alt="icon_3" 
      class="grid-container__box--icon">
     <h3>Guía</h3>
     <p>Soporte y asesoramiento para ayudarte con tu objetivo</p></div>
   
   </section>
   
   
   
     <section class="orange">
   
       <div><img src="./assets/images/icon_4.png" alt="icon 4"></div>
       <div><h4>Envío gratis garantizado</h4></div>
       <div> <p class="orange__free">Envio gratis en compras desde 100</p></div>
       <div><a class="orange__link" href="#">Comprar ahora</a></div>

     </section>
   
   
   
   <section class="line">
    
    <section class="line__search">
       <div><h5>Disfruta creando espacios</h5></div>
       </div> <p class="line__search--claim">Una linea de productos diseñados para todos tus espacios</p><div>
       <div><button class="line__search--button"> Compra ahora</button></div>
    </section >
     
     
     <section >
     <img src="./assets/images/creando-espacios.jpg" 
     class="bottom-image"
     alt=" spaces"  />
   </section></section>
   
    </main>