h6 {
    font-size: 1.3rem;
    color: $secundary-color;
    margin:20px 0 10px 0;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    margin-top: 10px;

    &__list {
        text-decoration: none;
        font-size: 0.9rem;
        text-align: left;
        color: $secundary-color;
        text-decoration: none;
    }
}

.footer {
    background-color: $principal-color;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    padding: 50px 0px 50px 40%;
    
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin-top: 30px;


    &__icon {
        margin-right: 11px;
        color: $secundary-color;
    }
}

.arrow {
    position: absolute;
    right: 40px;

}

@media all and (min-width: 900px) {
    .footer {
        flex-direction: row;
        padding: 35px;
    }
}