h2 {
    font-size: 1.5rem;
    color: $principal-color;
    margin-top: 10px;
    width: 60%;
}

.organizer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h3 {
    font-size: 20px;
}

.upper {
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: $light-color;
    padding: 80px;
    text-align: center;
    
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        width: 60%;
        margin-left: 25%;
        margin-top: 35px;

        &--icon {
            width: 90px;
            height: 99px;

        }
    }
}

@media all and (min-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .organizer {
        grid-column: span 3;
        font-size: 36px;
    }
}

@media all and (min-width: 1728px) {

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
}