.hamburger {
  width: 24px;
  height: 24px;
  margin: 36px 43px 98px 33px;
  object-fit: contain;
  position: fixed;
}

.header {
  background-image: url(../images/header.jpg);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  width: 100%;
  height: 100vh;

  &__logo {
    width: 213px;
    height: 96px;
    margin-top: 17px;
  }

  &__title {
    color: $principal-color;
    font-size: 24px;
  }

  &__button {
    background-color: $principal-color;
    font-size: 16px;
    color: white;
    width: 176px;
    height: 48px;
    margin-bottom: 76px;
    border: none;
    padding: 12px 24px;
    text-transform: capitalize;
  }

  &__button:hover {
    transition: transform 0.5s ;  
    background-color: black;
}

}

.menu__list {
  display: none;
}

@media all and (min-width: 900px) {
  .content {
    justify-content: center;
    text-align: left;
    width: 50%;
    gap: 30px;
    padding-left: 15%;

    .content__logo {
    position: absolute;
      top: 10px;
      left: 45%;
    }

    h1 {
      font-size: 36px;
    }
  }
}
@media all and (min-width: 1728px) {
  .hamburger {
    display: none;
  }

  .menu__list {
    display: flex;
    flex-direction: row;
    gap:30px;
    padding-left: 20%;
    padding-top: 76px;
  }
  .button {
    color: $principal-color;
   text-decoration: none;

  
  }

  .content {
    justify-content: center;
    text-align: left;
    width: 50%;
    gap: 30px;
    padding-left: 20%;
  }

  .content__logo {
    position: absolute;
 
  }

  h1 {
    font-size: 36px;
  }
}
