h5 {
    font-size: 1.5rem;
    color: $principal-color;

}

.line {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
    &__search {
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #f0ebe5;
        text-align: center;
        gap: 25px;
        padding-top: 90px;

        &--claim {
            font-size: 0.9rem;
            color: $principal-color;
        }


        &--button {
            background-color: $principal-color;
            color: white;
            width: 176px;
            height: 48px;
            border: none;
            padding: 12px 24px;
            text-transform: capitalize;
        }

        &--button:hover {
            transition: transform 0.5s;
            background-color: black;
        }
    }
}

.bottom-image {
   width:100vw
}

@media all and (min-width: 1728px) {

    .line {
        
        flex-direction: row;
       
        &__search {
            width:50vw;
        }
    }
}

.bottom-image {
    min-width: 50vw;
    height: 571px;
    width: 500px;
}