.orange {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $bg-color;
    text-align: center;
    gap: 25px;
    padding: 60px;
&__link {
    color: $light-color;
text-decoration:underline ;}
&__free {
    font-size: 14px;
    color: $light-color;

}}

h4 {
    font-size: 24px;
    color: $light-color;
    
}


