.orange{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#ff975a ;
 text-align: center;gap: 25px;
   
    padding: 20px;
}
h4{
    font-size: 24px;
    color: white;
}
.free{
    font-size: 14px;
    color: white;
}
.link{
    color: white;
}


