@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/grey-section';
@import 'layout/orange-section';
@import 'layout/last-section';



:root{
    font-family: $principalfont;
    color: $principal-color;
    font-size: 1rem;}
    
   
